<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/admin/comment/edit/{{id}}">
            <fieldset>
                <legend>Edit Comment</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputEmail">Email</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="authorEmail" required value={{authorEmail}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputFullName">Full Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" required name="authorFullName" value={{authorFullName}}>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="commentContent">Content</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="commentContent" rows="5" name="content" required>{{content}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a href="/" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>